* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.playground {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn {
    position: absolute;
    height: 30px;
    width: 100px;
    background-color: blueviolet;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: rgb(68, 25, 108);
}