* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.stopwatch {
    height: 50%;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.time-display {
    font-size: 52px;
}

.timer {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(235, 10, 10, 0.864);
    color: white;
    transition: .5s;
}

.btn:hover {
    background-color: rgba(154, 17, 17, 0.864);
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}